<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title | escape }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
       
          <p>Chao Song<br/>
            College of Ecology<br/>
            Lanzhou University<br/>
            212B Xiuyun Building<br/>
            222 Tianshui South Road, Lanzhou, Gansu, China<br/>
    
      </div>
      
      <div class="footer-col footer-col-2">
        
        Email: <a href="mailto: chaosong@lzu.edu.cn">chaosong@lzu.edu.cn</a><br/>
        Twitter: <a href="https://twitter.com/chaosong">@chaosong</a><br/>
        <a href="/files/CV_Song.pdf">Curriculum Vitae</a><br/>
        <a href="https://scholar.google.com/citations?user=farbSBEAAAAJ&hl=en">Google Scholar</a><br/>
        <a href="https://orcid.org/0000-0001-8225-4490">ORCiD</a><br/>
        
      </div>
      

    </div>

  </div>

</footer>
